.title{
	font-family: "Comic Sans MS",sans-serif;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	background: green;
	left:0;
}

.title h1 {
	margin-top:0;
}
.nodrop a, .droplink{
	text-decoration:none;
	font-family:"Comic Sans MS",sans-serif;
}

@media (max-width: 767px) {
	h1{
		color:white;
	}
}

@media (min-width: 768px) {
	h1{
		color:red;
		margin:0px;
	}
	.container{
		width:900px;
		margin-left:auto;
		margin-right:auto;
	}
	#construction{
		width:600px;
		margin-left:auto;
		margin-right:auto;
	}
	.dropdown, .nodrop{
		float:left;
	}
	.droplink, .nodrop a{
		padding:10px;
		background:blue;
		color:white;
		border-style:solid;
		border-width:1px;
		border-color:white;
	}
	.navbar{
		margin-top:10px;
	}
	.dropdown ul{
		list-style-type:none;
		margin:0px;
		padding:0px;
		text-align:left;
	}
	
}

.current{
	font-weight:bold;
}

